h1 {
	color: black;
	text-decoration: underline;
	font-size: 30px;
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 5px;
	margin-bottom: 5px;
	
}

body {
	background-color: #b4e8e4;
}

li {
	font-size: 19px;
	margin-left: 55px;
}

.roundImageborder {
	border: 3px solid #000000;
	border-radius: 25px;
}
	
.selfImage {
	width: 20%;
	height: 20%;
	margin-left: 60px;
}

.marginOne {
	margin-left: 45px;
}